{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            {% include 'components/qr_scanner.html' ignore missing %}
        </div>
    </div>
    
    <div class="text-center mt-4">
        <a href="{{ url_for('courier_dashboard') }}" class="btn btn-secondary">
            <i class="fas fa-arrow-left me-2"></i>Back to Dashboard
        </a>
    </div>
</div>
{% endblock %}